# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AntColony.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Artem\RiderProjects\AntColony\.idea\.idea.AntColony\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
